dictionary_char_2023-12-19.jsonl
dictionary_word_2023-12-19.jsonl
jp/combined_jp.json
jp/jmnedict-all-3.5.0.json
jp/jmdict-eng-3.5.0.json
jp/output/jmdict.json
jp/output/jmnedict_min.json
jp/output/index.json
jp/output/jmnedict.json
.vscode/
animCJK/
all_data2.jsonl
all_data.jsonl
jp/jmdict-entries.json
jp/furigana.json
jp/combined_jp.json
jp/JmnedictFurigana.json
jp/jmnedict-all-3.5.0.json
jp/jmnedict_furigana.json
jp/jmdict-eng-3.5.0.json
jp/output/jmdict.json
jp/output/jmnedict_min.json
jp/output/index.json
jp/output/jmnedict.json
entry_data/
zh/char_word_dict.json
zh/dictionary_char_2023-12-19.jsonl
zh/dictionary_word_2023-12-19.jsonl
output/search_data_min.json
output/search_data.json
output/search_data_min.jsonl
